<header class="site-header">
  <div class="site-toolbar">
    <div class="container"></div>
  </div>
  <div class="navbar-container">
    <div class="container">
      <nav class="site-navbar">
        <div class="box-left">
          <a href="#" class="site-logo navbar-item nav_logo">Fromco</a>
        </div>
        <div class="box-right">
          <ul id="primary-menu" class="main-menu navbar-nav">
            <li id="menu-item-1811" class="menu-item current-menu-item"><a href="#">Home</a></li>
            <li id="menu-item-1770" class="menu-item menu-item-has-children">
              <a href="#" aria-haspopup="true" aria-expanded="false">About Us</a>
              <ul class="sub-menu">
                <li id="menu-item-1799" class="menu-item"><a href="#">Studio</a></li>
                <li id="menu-item-1800" class="menu-item"><a href="#">Team</a></li>
                <li id="menu-item-1771" class="menu-item"><a href="#">Services</a></li>
              </ul>
            </li>

            <li id="menu-item-1774" class="menu-item menu-item-has-children">
              <a href="#" aria-haspopup="true" aria-expanded="false">Level 1</a>
              <ul class="sub-menu">
                <li id="menu-item-1775" class="menu-item menu-item-has-children">
                  <a href="#" aria-haspopup="true" aria-expanded="false">Level 2</a>
                  <ul class="sub-menu">
                    <li id="menu-item-1776" class="menu-item menu-item-has-children">
                      <a href="#">Level 3</a>
                      <ul class="sub-menu">
                        <li id="menu-item-1776" class="menu-item">
                          <a href="#" aria-haspopup="true" aria-expanded="false">Level 4</a>
                        </li>
                        <li id="menu-item-1801" class="menu-item"><a href="#">Level 4a</a></li>
                        <li id="menu-item-1802" class="menu-item"><a href="#">Level 4b</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-1801" class="menu-item"><a href="#">Level 3a</a></li>
                    <li id="menu-item-1802" class="menu-item"><a href="#">Level 3b</a></li>
                  </ul>
                </li>
                <li id="menu-item-1803" class="menu-item"><a href="#">Level 2a</a></li>
                <li id="menu-item-1804" class="menu-item"><a href="#">Level 2b</a></li>
              </ul>
            </li>
            <!-- <li id="menu-item-1777" class="menu-item"><a href="#">Our Work</a></li>
            <li id="menu-item-1805" class="menu-item"><a href="#">The News</a></li>
            <li id="menu-item-1806" class="menu-item"><a href="#">Contact Us</a></li> -->
            <% if user_signed_in? %>
             <li id="menu-item-1777" class="menu-item"><%= link_to "Add New Post", new_post_path %></li>
             <li id="menu-item-1805" class="menu-item"><%= link_to "My Favorites", favorites_path %></li>
             <li id="menu-item-1805" class="menu-item"><a href="#"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
            <% else %>
             <li id="menu-item-1806" class="menu-item"><li><%= link_to "Sign In", new_user_session_path %></li></li>
             <li id="menu-item-1806" class="menu-item"><%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
            <% end %>
          </ul>
          <div class="navbar-item">
            <a class="responsive-nav">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- overlay -->
<div class="site-overlay"></div>